.MobileMenu {
  transform: translate3d(100%, 0, 0);
  transition: transform 200ms ease-in-out;
  max-width: 520px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-bg-color);
  overflow: auto;
}

.MobileMenu--open {
  transform: translate3d(0, 0, 0);
}

.MobileMenu__container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.MobileMenu__content {
  padding: 144px 15px;
}

.MobileMenu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  color: var(--main-color);
  font-size: 18px;
  line-height: 22px;
}

.MobileMenu__link {
  color: inherit;
}

.MobileMenu__link:hover {
  color: var(--main-color-hover);
}

.MobileMenu__link.active {
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 3px;
  color: var(--main-color);
}

.MobileMenu__footer {
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.MobileMenu__profile-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MobileMenu__profile-text {
  font-size: 13px;
  font-weight: 500;
}

.MobileMenu__closed {
  position: absolute;
  top: 22px;
  right: 22px;
}
