.SearchForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 47px;
  width: 100%;
}
@media (min-width: 768px){
  .SearchForm {
    flex-direction: row;
    gap: 0;
  }
}

.SearchForm__error {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  line-height: 16px;
  color: var(--error-color);
}
