.Portfolio {
  background-color: var(--main-bg-color);
}

.Portfolio__container {
  padding-bottom: 70px;
  padding-left: 14px;
  padding-right: 14px;
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .Portfolio__container {
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1280px;
  }
}
@media (min-width: 1024px) {
  .Portfolio__container {
    padding-bottom: 125px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.Portfolio__title {
  margin: 0 0 42px;
  color: var(--main-color-hover);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px){
  .Portfolio__title {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

.Portfolio__wrap {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
}

.Portfolio__wrap:not(:last-of-type) {
  margin-bottom: 21px;
  border-bottom: 1px solid var(--main-color-hover);
}

.Portfolio__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -.7px;
}
@media (min-width: 768px){
  .Portfolio__text {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.2px;
  }
}
@media (min-width: 1024px){
  .Portfolio__text {
    font-size: 30px;
    line-height: 50px;
  }
}

.Portfolio__icon {
  width: 11px;
  height: 11px;
  margin-bottom: 3px;
  margin-right: 4px;
}
@media (min-width: 768px){
  .Portfolio__icon {
    width: 15px;
    height: 15px;
    margin-bottom: 1px;
    margin-right: 6px;
  }
}
@media (min-width: 1024px){
  .Portfolio__icon {
    width: 18px;
    height: 18px;
  }
}
