.MoviesCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MoviesCard__wrapper {
  display: flex;
}
.MoviesCard__img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
}

.MoviesCard__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 24px;
  border-bottom: 1px solid var(--secondary-border-bg-color);
}

.MoviesCard__text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}
@media (min-width: 768px){
  .MoviesCard__text {
    font-size: 13px;
    line-height: 16px;
  }
}

.Movies__icon {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: var(--like-bg-color);
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.MoviesCard__time {
  margin-top: 6px;
  font-size: 10px;
  line-height: 12px;
  color: var(--three-color);
}
