@import "./vendor/normalize.css";
@import "./vendor/font.css";

:root {
  --main-bg-color: #202020;
  --secondary-bg-color: #073042;
  --main-color: #fff;
  --main-color-hover: #a0a0a0;
  --main-color-active: #3456f3;
  --secondary-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
}
